body {
    padding: 0;
    margin: 0;
    text-align: center;
}

.btn {
    height: 200px;
    width: 200px;
    border: 2px solid black;
    border-radius: 25%;
    margin: 10px;
}

.btn-container {
    display: flex;
    justify-content: center;
}

.one {
    background-color: rgb(233, 128, 128);
}

.two {
    background-color: rgb(205, 243, 149);
}

.three {
    background-color: rgb(119, 119, 239);
}

.four {
background-color: rgb(143, 241, 240);
}


.blink {
    background-color: white;
}